<section class="page-header">
  <img class="project-name" src="images/hiberus-logo-blanco.png">
  <h2 class="project-tagline">Reportes de los casos de prueba para Diario AS - Digital</h2>
  <a href="reports/chrome-desktop/allure/index.html" class="btn">Chrome - Desktop</a>
  <a href="reports/chrome-mobile/allure/index.html" class="btn">Chrome - Mobile</a>
  <a href="reports/safari-desktop/allure/index.html" class="btn">Safari - Desktop</a>
  <a href="reports/safari-mobile/allure/index.html" class="btn">Safari - Mobile</a>
</section>